<section class='flashsale-form'>
  <%= form_tag do %>
    <h2>Please Log In</h2><br>
    <div class="form-group row">
      <%= label_tag :email, 'Email:' %>
      <%= email_field_tag (:email),"", class:"form-control" %>
    </div>
    <div class="form-group row">
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, "", class:"form-control" %>
    </div>
    <div class="form-group row">
      <div class="custom-control custom-checkbox">
        <%= check_box_tag :remember_me, 1,"", class:"custom-control-input" %>
        <%= label_tag :remember_me, 'Remember Me', class:"custom-control-label" %>
      </div>
    </div>
    <br>
    <div class="actions">
      <%= submit_tag "Login" %>
    </div>
  <% end %>
  <div >
    <%= button_to "Sign Up", new_user_path, method: :get, class:"btn btn-secondary" %>
  </div>
  <p><%= link_to "forgotten password?", new_password_reset_path %></p>
</section>
