<%= form_with(model: @user, local: true, url: password_reset_path(params[:token])) do |form| %>
  <%= render "layouts/errors", errors: @user.errors %>

<% #FIXME_AB: in all forms indicate required fields with * -%>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit "Update Password" %>
  </div>
<% end %>
