<h2>Set New Password</h2>
<%= form_with(model: @user, local: true, url: password_reset_path(params[:token])) do |form| %>
  <%= render "layouts/errors", errors: @user.errors %>

  <div class="form-group row">
    <%= form.label :password, class:"required" %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :password_confirmation, class:"required" %>
    <%= form.password_field :password_confirmation, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Password", class:"btn btn-primary" %>
  </div>
<% end %>
<br>
<%= link_to 'Exit', login_path %>
