<%= form_with(model: user, local: true) do |form| %>
  <%= render "layouts/errors", errors: user.errors %>

  <div class="form-group row">
    <%= form.label :name, class:"required" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :email, class:"required" %>
    <%= form.email_field :email, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :password, class:"required" %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= form.label :password_confirmation, class:"required" %>
    <%= form.password_field :password_confirmation, class:"form-control" %>
  </div>

  <%= form.submit "Signup", class:"btn btn-success" %>
  <%= link_to "Log In", login_path, class:"btn btn-primary" %><br>
<% end %>
