<h1>Deals</h1>

<% if @deals.empty? %>
  <h3> There are no deals created right now</h3>
<% else %>
  <table class="table table-hover">
    <tbody class="table-info">
      <% @deals.each do |deal| %>
      <tr>
        <td data-slideshow="slideshow"><% if deal.images.any? %>
          <ul>
            <% deal.images.each do |image| %>
              <li><%= image_tag(image.process_image.service_url) %></li>
            <% end %>
          </ul>
        <% end %>
        </td>
        <td>
          <h1><%= deal.title %></h1>
          <p>
            <%= truncate(strip_tags(deal.description),
            length: 80) %>
          </p>
        </td>
        <td>
          <p>
            <%= number_to_currency(deal.price) %>
          </p>
          <p>
            <%= number_to_currency(deal.discounted_price) %>
          </p>
        </td>
        <td data-options="<%= deal.id %>">
            <p><% if !deal.live %>
              Old Deal
            <% elsif !deal.quantity_available? %>
              Sold Out
            <% elsif session[:order_id] %>
              <%= link_to 'Buy', order_path(deal), method: :put %>
            <% else %>
              <%= link_to 'Buy', orders_path(id: deal), method: :post %>
            <% end %></p>
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
<%= javascript_pack_tag 'slideshow'%>
<%= javascript_pack_tag 'update_deals' %>
