<h1>Deals</h1>

<% if @deals.empty? %>
  <h3> There are no deals created right now</h3>
<% else %>
  <table class="table table-hover">
    <%= paginate @deals %>
    <tbody>
      <% @deals.each do |deal| %>
      <tr class="table-info">
        <td><% if deal.images.any? %>
          <%= image_tag(deal.cover_image.service_url) %>
          <% end %>
        </td>
        <td>
          <h1><%= deal.title %></h1>
          <p>
            <%= truncate(strip_tags(deal.description),
            length: 80) %>
          </p>
        </td>
        <td>
          <p>
            <%= number_to_currency(deal.price) %>
          </p>
          <p>
            <%= number_to_currency(deal.discounted_price) %>
          </p>
        </td>
        <td>
          <%= number_to_currency(deal.minimum_potential) %>
      </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
