<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= paginate @users %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Verified</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% #FIXME_AB: what if users list is blank? -%>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.verified %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
