<h1>Deals</h1>

<% if @deals.empty? %>
  <h3> There are no deals created right now</h3>
<% else %>
  <table>
    <tbody>
      <% @deals.each do |deal| %>
      <tr>
        <td>
          <%= image_tag(deal.image_url, class: 'list_image') %>
        </td>
        <td>
          <h1><%= deal.title %></h1>
          <p>
            <%= truncate(strip_tags(deal.description),
            length: 80) %>
          </p>
        </td>
        <td>
          <p>
            <%= number_to_currency(deal.price) %>
          </p>
          <p>
            <%= number_to_currency(deal.discounted_price) %>
          </p>
        </td>
        <td>
          <ul>
            <li><%= link_to 'Show', deal %></li>
            <li><%= link_to 'Edit', edit_admin_deal_path(deal) %></li>
          </ul>
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Deal', new_admin_deal_path %>
