<h1>Deals</h1>

<% if @deals.empty? %>
  <h3> There are no deals created right now</h3>
<% else %>
  <table class="table table-hover">
    <%= paginate @deals %>
    <tbody>
      <% @deals.each do |deal| %>
      <tr class="table-info">
        <td><% if deal.images.any? %>
          <%= image_tag(deal.cover_image.service_url) %>
          <% end %>
        </td>
        <td>
          <h1><%= deal.title %></h1>
          <p>
            <%= truncate(strip_tags(deal.description),
            length: 80) %>
          </p>
        </td>
        <td>
          <p>
            <%= number_to_currency(deal.price) %>
          </p>
          <p>
            <%= number_to_currency(deal.discounted_price) %>
          </p>
        </td>
        <td>
          <ul>
            <li><%= link_to 'Show', admin_deal_path(deal), class:'btn btn-info' %></li><br>
            <li><%= link_to 'Edit', edit_admin_deal_path(deal), class: 'btn btn-success' %></li>
          </ul>
        </td>
      </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
