<script src="https://js.stripe.com/v3/"></script>
<%= tag :meta, :name=> 'stripe-key', :content => Rails.configuration.stripe[:publishable_key] %>

<div class="jumbotron">
  <%= form_with(url: charges_path, method: :post, id: "payment-form") do %>
    <div class="form-row">
      <%= label_tag("card-element", "Card Info") %>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>

    <%= submit_tag("Pay") %>
  <% end %>
</div>
<%= javascript_pack_tag 'stripe_payment' %>
