<!DOCTYPE html>
<html>
  <head>
    <title>FlashSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      Flash Sales
      <% if current_user %>
        <%= button_to "Logout", logout_path, method: :get, class: "btn btn-outline-danger" %>
      <% end %>
    </nav>
    <main class='<%= controller.controller_name%> container'>
      <br>
      <%= render "layouts/notice", notice: notice %>
      <%= render "layouts/alert", notice: alert %>
      <%= yield %>
    </main>
  </body>
</html>
